* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 292px;
}

button {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 50px;
}

#display {
    border: 1px solid black;
    text-align: end;
    font-size: 24px;
    height: 50px;
}